

* :before, after {
  box-sizing:border-box;
  }

:root {
  -pad:1em;
  -ma1:2em;

  }

body {
  margin:0;
  font-family: 'Montserrat', sans-serif;
}

// html { overflow-y: hidden; } 

img {
  max-width:100%;
}


// #foo {opacity:0;pointer-events:none; transition:opacity .3s;}
// #foo.active {opacity:1; pointer-events:normal;}


.menu {
  
  a {
  padding-right:1.5em;
  padding-left:2em;
  text-decoration: none;
  color:black;
  font-size:0.8em;
  }
  span {
    border-bottom:#FF385C solid 3px;
  }
}



.homePage {
  .accueil {
    text-align: center;
    color: white;
    font-size: 1.2em;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height:100vh;
    background:#FCBCBD url("/images/backgroundHomepage.png");

   
    h1 {
      font-size:1.5em;
    }
  }
  
  @media (max-width:500px){
   .accueil h1 {
          font-size: 1.2em;
          padding-left: 2em;
          padding-right: 2em;
      }
     }


  .profsListDesktop {
    display:flex;
    justify-content: space-between;
    padding-left:3.5em;
    padding-right:3.5em;
    background:url("/images/backgroundProfsList.svg") center no-repeat;
    padding-bottom:2em;
    
  }
  

  .profsListMobile {
    display:none;
  }


  .profsContainer h1 {
    display:block;
    text-align: center;
    font-size: 2.5em;
    font-weight: lighter;
    color:grey;
    width:100vw;
    padding-top:11vh;
    margin-bottom: 2em;
  }

  @media (max-width:500px){
    .profsContainer {
      h1 {
        padding-top:0;
        margin-bottom:0.5em;
      }
    }
    .profsListMobile {
      display:block;
    }
    .profsListDesktop {
      display:none;
    }
    
    h2 {
      text-align: center;
      color:#FF385C;
      font-weight: lighter;
      font-size: 1.5em;
    }

    h3 {
      font-size:1.1em;
      font-weight: lighter;
      text-align: center;
        
    }


  }

  
  
  .prof {
    width:18%;
    text-align:center;
   
  
  }
  
  .prof h2 {
    color:#FF385C;
    font-weight: lighter;
    font-size: 1.5em;
  
   
  }
  
  .prof img {
    // display:block;
    width:80%;
    height: 40vh;
    border-radius:25px;
    object-fit: cover;
    text-align: center;
    
  }
  
  .prof h3 {
    font-size:1.1em;
    font-weight: lighter;
  
  
  }

  .countersBan {
    background: linear-gradient(180deg, rgba(255, 56, 92, 0.41) 0%, rgba(248, 108, 102, 0.41) 100%);
    height: 12vw;
    display:flex;
    justify-content: space-between;
    padding-left:12em;
    padding-right:12em;
    margin-bottom:1vh;
  }

  @media (max-width:500px){
    .countersBan {display:none;}
  }
  
  .counterA, .counterL, .counterT {
    background-repeat: no-repeat;
    background-size: contain;
    width:16vw;
    height:10vw;
    align-items: center;
    justify-content: space-around;
    display:flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: lighter;
    font-size: 1em;

    p {
    margin-left:0;
    }

    span {
      font-weight: bold;
      font-size: 1.5em;
    }

  }

  .counterA {
    background-image: url("/images/backgroundA.png");
  }

  .counterL {
    background-image: url("/images/backgroundL.png");
    }

  .counterT {
    background-image: url("/images/backgroundT.png");
  
  }


  
  .backgroundWhitePink{
    background: url("/images/backgroundWhitePink.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .cours {
    border:solid 1px #FF385C;
    border-radius:25px;
    width: 25%;
    margin-bottom:3em;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .cours span {
    font-weight: bold;
  } 
  
  .coursTitre {
    text-align: center;
    font-size: 1em;
  }
  
  .coursSection {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
  }
  .coursLibelle {
    width:35%;
    
  }
  
  .coursDetail {
    width:65%;
    text-align: center;
    padding-right: 15px;
  }
  
  .coursList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 7em;
    margin-right: 7em;
  }

  .coursContainer h1 {
    display:block;
    text-align: center;
    font-size: 2.5em;
    font-weight: lighter;
    color:grey;
    width:100vw;
    padding-top:11vh;
    margin-bottom: 2em;
  }

  .coursNavBarMobile {
    display:none;
  }

  @media(max-width:500px){
    .coursList{display:none;}
    .navBarMobileFlex {
      display:flex;
    }
    .coursMobile {
      border:solid 1px #FF385C;
      border-radius:25px;
      width: 45%;
      margin-bottom:1.2em;
      margin-right: 1em;
      padding-left: 15px;
      padding-right: 15px;
      span {
        font-weight:bold;
      }
      }
    .coursNavBarMobile {
      display:block;
    }
    .coursListMobile {
      padding:1em;
   
      .coursLiens {
        padding-bottom:0.5em;
      }
      a {
      text-decoration: none;
      color:black;
    
      }
      a:hover {
        color:#FF385C;
      }
      a:focus {
        background-color: #FCBCBD;
      }  
  } 
  .coursLibelle {
    margin-bottom: 2em;
  }
  .coursDetail {
    padding-right:0;
  }
  
     
    }

  


.tarifListBackground {
  background-color:#FCBCBD;
  border-radius: 25px;
  text-align: center;
  margin-left: 3.5em;
  margin-right: 3.5em;
  position: relative;
  height:10em;
  z-index: 1;
  top: -5em;
}

@media (max-width:500px){
  .tarifListBackground {
    margin-left: 1em;
    margin-right: 1em;
    height:6em;
    top: -3em;
    
  }
}

.tarifsContainer h1 {
  display:block;
  text-align: center;
  font-size: 2.5em;
  font-weight: lighter;
  color:grey;
  width:100vw;
  padding-top:13vh;
  margin-bottom: 2.5em;
}

  .tarifsList {
    display: flex;
    justify-content: space-between;
    margin-left: 20em;
    margin-right: 20em;
    position: relative;
    height:13em;
    z-index: 2;
   
  }

  @media (max-width:500px){
    .tarifsList {
      margin-left:0;
      margin-right:0;
      padding-left: 2em;
      padding-right: 2em;
      height:6em;
      // width: 100vw;
     }
     .tarifsContainer h1 {
      padding-top:0;
      margin-bottom: 2em;
    }
  }


  .tarifReduction {
    padding-top:10em;
    font-size: 0.6em;
  }
  
  .tarif {
    width : 13em;
    border-radius: 25px;
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -13px -13px 14px rgba(255, 56, 92, 0.21), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  @media (max-width:500px){
    .tarif {
    width : 6em;
    padding-top: 0.5em;
  }


  }
  
  .tarifVerticalCenter {
    margin:1em;
  
  }
  
  .tarif p {
    margin-top: 0;
  }
  
  .tarifMontant {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0em;
  }
  
  .tarifAn {
    margin-top: 0em;
    text-align: right;
    font-size: 1em;
    font-weight: lighter;
    
  }

 

  .tarifAn span {
    border-bottom: #FF385C solid 3px;
  }
  
  
  .tarifDuree {
   font-weight: bold;
   text-align: center;
  font-size: 0.8em;
  padding-top:2em;
  
  }
  
  .tarifDuree span {
    background-color: #FFAFBE;
  
  }

  @media (max-width:500px){
    .tarifMontant {font-size: 1em;}

    .tarifDuree {
      font-size: 0.5em;
      padding-top:0;
      }

    .tarifReduction {
      padding-top:8em;
      font-size: 0.4em;

    }
  }
  
  .spectacles {
    color:black;

    img {
      height:20%!important;
    }

    h1 {
      display:block;
    text-align: center;
    font-size: 2.5em;
    font-weight: lighter;
    color:grey;
    width:100vw;
    padding-top:13vh;
    // margin-bottom: 1em;
    }
  }


  .slick-slide img {
    width: 20%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top:1.5em;
  }

  @media (max-width:500px){
    .slick-slide img {
      width: 50%;
      height: 40vh;
    }

    .spectacles h1 {
      padding-top:0;
      margin-bottom: 2em;
    }

  }

  #asso {

    h1 {
     display:block;
     text-align: center;
     font-size: 2.5em;
     font-weight: lighter;
     color:grey;
     width:100vw;
     padding-top:11vh;
     margin-bottom:1.5em;
   }
   
   p {
     padding-left:3.5em;
     padding-right:3.5em;
     padding-top:1.5em;
     padding-bottom:1.5em;
     text-align:justify;
     margin-bottom: 0;
     margin-top: 0;
     font-size:1em;
     line-height: 1.5em;
     
   }
   
   }
  

  .footer {
    background-image: url("/images/footer.svg");
    background-size: cover;
    display:flex;
    justify-content: space-between;
    padding: 1vw 5vw;
    margin-top:1vh;
   
  }

  .footer p {
    color: white;
    font-size: 1.3em;
    text-align: center;
  }

  .contactMail {
    display:flex;
    align-items: center;
  }

  .footerGauche a {
    text-decoration:inherit; 
    color:white;
    margin-left: 1em;
  }

  .footerDroite {
    a {
    text-align:center;
  }
    img {
      width:2em;
    }
    .footerIcon {
      display:flex;
      justify-content: space-around;
    }
} 

@media (max-width:500px){
 
  .footerGauche a {
   font-size:0.6em;
  }
  .footer p{
    font-size:0.8em;
  }
}
}

.login, .forgotPassword, .changePassword {
  height:94vh;
 display:flex;
 flex-direction: column;
 justify-content: center;
}

.sendAbsences, .sendInvoices {
  height: 90vh;
  p{
    margin-bottom:0;
    font-size:1em;
    padding-bottom: 2em;
  }
  input {
    margin:0.5;
  }
  label {
    margin-bottom: 0.2em!important;
  }
}

 

.login, .changePassword, .sendAbsences, .sendInvoices, .forgotPassword {
  background-image: url("/images/backgroundEspacePerso.png");
  padding-top:10vh;
  background-size: cover;
  height:90vh;

  input, textarea {
    border-radius: 5px;
    border:solid 1px #FF385C;
    color:#5C5A5A;
    padding : 0.7em;
    font-size:0.8em;
  }
  h1 {
    text-align: center;
    color:rgba(0, 0, 0, 0.37);
    font-weight: lighter;
    font-size:1.5em;
    padding-bottom:1.5em;
  }

  form {
    width:25vw;
    height:25vw;
    box-shadow: -4px -4px 26px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius:25px;
    display:flex;
    flex-direction: column;
    padding-left:3em;
    padding-right:3em;
    margin-left:auto;
    margin-right:auto;
    background-color: white;
    justify-content: center;

    label {
      margin-top:1em;
      margin-bottom:1em;
      font-size:0.8em;
    }

    #forgotLabel {
      padding-top: 2em;
      text-align: justify;
    }

    #button {
      margin-top:2em;
      background: linear-gradient(90deg, rgba(248, 108, 102, 0.75) 3.55%, rgba(255, 56, 92, 0.75) 100%);;
      height:3em;
      width: 50%;
      color:white;
      margin-left: auto;
      margin-right:auto;
      border:none;
    }

  }
  a {
    text-decoration: none;
    color: black;
    font-size:0.7em;
   
  }
  p {
    text-align: center;
   
  }
}


.login, .changePassword {

  form {
    padding-top: 2em;
  }
  p {
    color: red;
    font-size: 0.8em;
    font-weight: bold;
    margin-top:0;
  
  }
}

.espacePersoAccueil {
  padding-left: 2em;
  padding-right: 2em;}

@media (max-width:500px){
  .login, .changePassword, .forgotPassword {
    form {
      width:60vw;
      height:45vh;
    }
    label {
      font-size:0.65em!important;
  }
}
}

.espacePersoAccueil {

  p {
  text-align: justify;
}
  span {
    color:#FF385C;
  }
  p {
    margin-top:2em;
  }
}


.espacePerso, .profil {
  display: flex;
}


.partieDroiteEspacePerso, .partieDroiteChangePassword  {
  width:70%;
 
}

.partieDroiteEspacePerso {
   padding-top:7em;


}

@media (max-width:500px) {
  .partieDroiteEspacePerso, .partieDroiteChangePassword {
    width:auto;
    padding-top:0;
    // padding-left: 1.5em;
    // padding-right: 1.5em;
    // padding-top:3em;
  }

}

.partieDroiteProfil {
  width:70%;
  padding-left: 3em;
  padding-right: 7em;
  padding-top:7em;
  color:#616161;
  display:flex;
  justify-content: space-between;
   
  span {
    color:#FB9695;
  }

  p {
    text-align: justify;
  }

}

.partieDroiteProfil {
  .padRight {
    padding-right:7.2em;

  }
  
  span {
    color:black;
  }
  #email {
    font-size: 0.9em;
  }
  h1 {
    margin-top:0.2em;
    margin-bottom: 1.5em;
  }
  p {
    font-size:1em;
    text-align: left;
  }
  .adresse {
    
    display : flex;
    align-items: flex-start;

    p {
      width:28%
    }
  

   
  }

  .profilDetailGauche {
    width:50%;
    .liens {
      display:flex;
      justify-content: space-between;
      width:100%;
      margin-top: 3em;
    }
    a {
      color:#FF385C;
      text-decoration: none;
      border : solid 1px #616161;
      border-radius:25px;
      font-size:0.9em;
      padding:0.2em 0.6em;
      margin-left:2em;
      margin-right:2.5em;

  
    }
  }

  .adresseDetails {
    display : flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width:65%;

    p :nth-child(1n) { margin-top: 0; }
    p {
      width:100%;
      margin-bottom: 0;
      // margin-top: 0;
  }
}

.profilDetailDroite {
  margin-left:2em;
  .adherents {
  display: flex;
  justify-content: space-between;
  font-size:1em;

 
 }  

 
  span {
    color:#FF385C;
  }
  ul {
    padding-left:0;
  }

  .adherentDroite {
    margin-left:1em;
    p {
    text-align:center;
    margin-bottom: 0.5em;
    margin-top:0.5em;
  }
    img {
    display: block;
    width: 5em;
    border-radius: 25px;
    
  }
}
 
}
}

@media (max-width:500px){
  .profil {
   display:inline;
  }
  .partieDroiteProfil {
    display:inline;
    .profilDetailGauche {
      width:100vw;
      margin-left:1em;
      h1 {
        text-align:center;
      }
      .padRight {
        padding-right:5em;
    
      }
      .telephone {
        margin-bottom:2em;
       }
      .liens {
        display:inline;
        
      }
      .liens a {
        font-size:0.7em;
      }
  }
  .profilDetailDroite {
    margin:0 1em;
    h1{
      text-align:center;
      margin-top:1em;
      margin-bottom:1em;
    }
  }
  }
 
}

.changePasswordFlex {
  display:flex;
 
}

@media (max-width:500px) {
  .changePasswordFlex {
    display:inline;
   
  }
}
.navbarEspacePerso {
  width: 30%;
  padding-top:12vh;
  color:white;

  h1 {
    font-weight: lighter;
    text-align: center;
    margin-left:0;
    color:white!important;
    width:100%;
  }

  a {
    text-decoration: none;
    color:White;
    display:flex;
    align-items: center;
    img {
      width:2em;
      padding-left: 1.5em;
      padding-right: 1.5em;
    }
   
  }
  
}


.navBarEP {
  display:flex;
  flex-direction: column;
  height: 88vh;
  background: linear-gradient(90.98deg, rgba(255, 56, 92, 0.69) 1.82%, rgba(248, 108, 102, 0.69) 97.68%);
  border-radius: 0 32px 0 0;

}


.click-item {
  width: 80%;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  background: linear-gradient(180deg, rgba(255, 56, 92, 0.05) 0%, rgba(248, 108, 102, 0.05) 100%);
  box-shadow: inset 1px 1px 10px #FF385C;
  border-radius: 32px;
  display: flex;
  margin-left: 1.2em;
  margin-bottom: 2em;
  
}

.icone {
  flex: 20%;
 
}

.icone img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5em;
  height: 1.5em;
 }

.libelle {
  flex: 80%;
  display: flex;
  align-items: center;
}

.click-item a {
 font-size:1em;
  text-decoration: none;
  font-weight: lighter;

  // letter-spacing: 0.02em;
  color: #FFFFFF;

}

.user-navbar {
  margin-top: 1.2em;
 }



.user-name {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 55px;
  font-size: 1em;
  line-height: 27px;
  color: #FFFFFF;
  margin-left: 1em;
}

.user-name h1 {
  margin: none;
  padding: none;
}


.click-items-container {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
}

@media (max-width:500px){
  .navbarEspacePerso {
    width:100vw;
    padding-top:10vh;
    h1 {
      display:none;
    }
  }

.navBarEP {
  height:10vh;
  width: 100vw;
  border-radius:0;

}
  .espacePerso {
    flex-direction:column;
  }
  .navbarEspacePerso span {
    display:none;
  }

  .click-items-container {
    flex-direction:row;
    margin-top:0;
  }

  .click-item {
    box-shadow: none;

  }
   
}



.editProfil {
  form {
    width: 90%;
    margin-left: auto;
    margin-right:auto;
    margin-top:2em;

  }
  .editProfilTitre {
    margin-top:0;
    margin-bottom:4em;
    font-size:1.5em;
    color:#5C5A5A;
    text-align:center;
  }
  #button {
    border-radius: 5px;
    border:solid 1px #FF385C;
    padding : 0.7em;
    font-size:1em;
    display:block;
    margin-top:2em;
    background: linear-gradient(90deg, rgba(248, 108, 102, 0.75) 3.55%, rgba(255, 56, 92, 0.75) 100%);;
    height:3em;
    width: 30%;
    color:white;
    margin-left: auto;
    margin-right:auto;
    border:none;
  
  }
}

.libelleInput {
  display:flex;
  align-items: center;
  margin-bottom:1em;
  margin-left:auto;
  margin-right:auto;
  width:70%;
  input {
    border-radius: 5px;
    border:solid 1px #FF385C;
    color:#5C5A5A;
    padding : 0.6em;
    font-size:1em;
    width:70%;
  }
  label {
    width:30%;
  }

}

@media (max-width:500px){
  .editProfil {
    h1 {
      text-align:center;
    }
    .libelleInput {
      margin-left:0;
      margin-right:0;
      width:auto;
    }
    #button {
      width:auto;
    }
  }
}

.absences, .invoices  {
  h1 {
    margin-top:1em;
    margin-bottom:1em;
    font-size:1.5em;
    color:#5C5A5A;
    text-align:center;
    margin-bottom:2em,
  }

  a {
    text-decoration: none;
    color: #FF385C;
    margin : 1em;
    font-size: 1.5em;
  }

  li {
    list-style: none;
  }

 
}
.sendAbsences, .sendInvoices {

  span {color: #FF385C;}

  
  .formSendAbsences, .formSendInvoices {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;

  }


  label {
    text-align:center;
  }
  .motif input {
    height: 2em;
    margin-left:auto;
    margin-right:auto;
  }
 
}


@media (max-width:500px){
  .sendAbsences, .sendInvoices {
    p {
      padding-bottom:0;
      font-size:0.8em;
    }
    form {
      width:40vw;
      height:30vh;
      margin-top:10vh;
    }

    form #button {
      width:100%;
      margin-left:0;
      margin-right:0;
    }
  }
}

// @media (max-width:500px){
  .absences, .invoices {
   p, a {
     text-align: center;
     padding:1em;
        
      }
  ul {
    padding-left:0;
  }
    }
  // }


.navBarResp {
  a {
    color: #000;
  }
  
  /* header */
  
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100vw;
    z-index: 3;
   
  }

  .leftNavBar {
    display:flex;
    align-items: center;
    a {
          text-decoration: none;
          color:#FF385C;
          font-size:1.5em;
        }
      
  }


  .header  img {
        height:7vh;
      }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px 15px 20px;
   // border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 0.5em;
    padding: 5px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 36px 60px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 20em;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 30px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  
}

.styles_overlay__CLSq- {
  display:flex!important;
}
.styles_modal__gNwvD {
  margin-top:auto!important;
  margin-bottom:auto!important;
}
