/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  @media (max-width:900px) {

  }
}

@media (max-width:900px) {¨
  .App-header {}
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* :before, after {
  box-sizing:border-box;
  }

:root {
  -pad:1em;
  -ma1:2em;

  }

body {
  margin:0;
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width:100%;
}

.navBar {
  height: 10vh;
}



// .homePage,
// .aboutPAge {

// }

.homePage {
  .accueil {
    text-align: center;
    color: white;
    font-size: 1.2em;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:90vh;
    background:#FCBCBD url("/images/backgroundHomepage.png") center no-repeat;
  
  }
  
  .profsList {
    display:flex;
    justify-content: space-between;
    margin-left:2.5em;
    margin-right:2.5em;
    background:url("/images/backgroundProfsList.svg") center no-repeat;
    
  }

  .profsContainer h1 {
    display:block;
    text-align: center;
    font-size: 2.5em;
    font-weight: lighter;
    color:grey;
    width:100vw;
  }
  
  .prof {
    width:18%;
    text-align:center;
   
  
  }
  
  .prof h2 {
    color:#FF385C;
    font-weight: lighter;
    font-size: 1.8em;
  
   
  }
  
  .prof img {
    display:block;
    width:100%;
    height: 275px;
    border-radius:25px;
    object-fit: cover;
    
  }
  
  .prof h3 {
    font-size:1.3em;
    font-weight: lighter;
  
  
  }
  
  .backgroundWhitePink{
    background: url("/images/backgroundWhitePink.png");
  }
  
  .cours {
    border:solid 1px #FF385C;
    border-radius:25px;
    width: 25%;
    margin-bottom:3em;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .cours span {
    font-weight: bold;
  } 
  
  .coursTitre {
    text-align: center;
    font-size: 1em;
  }
  
  .coursSection {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
  }
  .coursLibelle {
    width:35%;
    
  }
  
  .coursDetail {
    width:65%;
    text-align: center;
    padding-right: 15px;
  }
  
  .coursList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 7em;
    margin-right: 7em;
  }

  .coursContainer h1 {
    display:block;
    text-align: center;
    font-size: 2.5em;
    font-weight: lighter;
    color:grey;
    width:100vw;
  }

.tarifListBackground {
  background-color:#FCBCBD;
  border-radius: 25px;
  text-align: center;
  margin-left: 2em;
  margin-right: 2em;
  position: relative;
  height:13em;
  z-index: 1;
  top: -8em;
}
  
.tarifsContainer h1 {
  display:block;
  text-align: center;
  font-size: 2.5em;
  font-weight: lighter;
  color:grey;
  width:100vw;
}

  .tarifsList {
    display: flex;
    justify-content: space-between;
    margin-left: 4em;
    margin-right: 4em;
    position: relative;
    height:13em;
    z-index: 2;
    
  }
  
  .tarif {
    width : 25%;
    border: solid 1px grey;
    border-radius: 25px;
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .tarifVerticalCenter {
    margin:2em;
  
  }
  
  .tarif p {
    margin-top: 0;
  }
  
  .tarifMontant {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0em;
  }
  
  .tarifAn {
    margin-top: 0em;
    text-align: right;
    font-size: 2em;
    
    font-weight: lighter;
    // border-bottom: #FF385C solid 3px;
    /* solid #FF385C 10px; */
  }

  .tarifAn span {
    border-bottom: #FF385C solid 3px;
  }
  
  
  .tarifDuree {
   font-weight: bold;
   text-align: center;
  font-size: 0.6em;
  
  }
  
  .tarifDuree span {
    background-color: #FFAFBE;
  
  }
  
  .spectacles {
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    width:25%;
    height:20%;
    display:flex;
  }
  
  .imgSpectacles img {
    display:block;
    margin-top:25px;
  }
  
  .fleche {
    width:50px;
  }

  .footer {
    background-image: url("/images/backgroundFooter.svg");
    display:flex;
    justify-content: space-between;
    padding: 3vw 5vw;
    margin-top: 3em;
   
  }

  .footer p {
    color: white;
    font-size: 1.5em;
  }

  .footerGauche a {
    text-decoration:inherit; 
    color:white;
    margin-left: 1em;
  }

  .footerDroite {
    a {
    text-align:center;
  }
    img {
      width:2em;
    }
    .footerIcon {
      display:flex;
      justify-content: space-around;
    }
} 

}

